---
layout: default
---

<style>
  #bibtex_code {
  display: none;
  }
</style>


<article class="publications">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <ul>
    {% for publication in site.data.publications %}
    <li>
      {{ publication.Author }}:
      <em>{{ publication.Title }}</em>,
      {% if publication.PublicationURL == null %}
        {{ publication.Publication }},
      {% else %}
        <a href="{{ publication.PublicationURL }}">{{ publication.Publication }}</a>,
      {% endif %}
      <a href="{{ publication.URL }}">PDF</a>,
      <!--<a href="bibtex.html#{{ publication.Id }}">bibtex</a>-->
    </li>
    {% endfor %}
    </ul>
</article>
