@font-face {
  font-family: "Jura";
  src: url(Jura-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Droid";
  src: url(DroidSans.ttf) format("truetype");
}

/* container div */
/* mobile layout */
#container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto; 
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "header"
                         "main"
                         "map";
    background-color: #ffffff;
    padding: 2em;
    font-family: "Droid";
}

/* large screen layout */
@media (min-width: 1000px) {
    #container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto; 
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas: "header"
                             "main"
                             "map";
	margin-left:20%;
	margin-right:20%;
    background-color: #ffffff;
    padding: 2em;
    font-family: "Droid";
    }
}


/* header div */
#header {
    grid-area: header;
	font-family: "Jura";
    background-color: #000000;
    padding: 10px;
    color: #ffffff;
    text-align: center;
}

#header a {
    color: #ffffff;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#header p {
    font-family: "Droid";
    background-color: #000000;
    padding: 10px;
}

/* main div */
# main {
	grid-area: main;
}
	
#main a {
    color: #009246;
    text-decoration: none;
}

#main a:hover {
    text-decoration: underline;
}

/* map div */
# map {
	grid-area: map;
}

/* table properties */
td {
	border: 1px solid #ddd;
}

.time {
	white-space: nowrap;
}

tr.gray td {
    background-color: #e0e0e0;
}


/* headings */
h2,h3 {
    color: #009246;
}

h3 {
    border-bottom: 1px #009246 solid;
    
}


